.div-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #776d6d;
  border-radius: 10px 10px 0 0;
  color: #fff;
}
.div-header h2{
  margin: 10px;
}
.div-header button {
  background-color: transparent;
  border: none;
  margin: 10px;
}
.div-header img {
  width: 30px;
}
.user-info {
  display: flex;
  width: 90%;
  margin-top: 5px;
}
.user-footer{
  width: 90%;
  display: flex;
  justify-content: center;
}
.user-footer button{
  width: 30%;
  height: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 10px 10px 15px 10px;
  font-size: 15px;
  font-weight: 600;
}
.user-footer .btn-green{
  background-color: #91d161;
}
.user-footer .btn-red {
  background-color: red;
}
.user-footer button:hover{
  background-color: black;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
