.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  min-height: 100px;
  background-color: #fff;
  position: relative;
  left: -30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
.container-modal img{
  width: 60%;
}
.container-modal h4{
  margin: 10px 0;
}
.container-edit{
  width: 90%;
  color:black
}
.container-edit h3{
  text-align: center;
}
.container-edit p{
  height: 30px;
  margin: 5px;
  text-align: center;
}
.container-edit input,
.container-edit select{
  width: 40%;
  height: 28px;
  margin: 0;
}