.div-fund {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.6);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.div-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px;
}
.div-buttons button {
  width: 200px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.div-buttons button:hover{
    background-color: #91d161;
    transition:all .5s ease-in-out;
}

.div-menu {
  width: 90%;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  background: rgba(95, 92, 94, 0.59);
  border-radius: 10px;
}
.div-menu .options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
  background: rgba(119, 109, 109, 1);
  color: white;
  border-radius: 10px 10px 0 0;
}
.div-menu .client-name {
  display: flex;
  justify-content: center;
}
.div-menu .client-name input {
  width: 80%;
  height: 45px;
  border-radius: 10px;
  border: none;
  margin: 20px;
  padding: 0 5px 0 5px;
}
.div-order {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 70px;
  margin: 30px;
}
.div-order .resume {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}
.div-order .resume img {
  width: 45px;
  height: 45px;
}
.div-order .resume button{
  width: 35%;
  height: 55%;
  background-color: #91d161;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.div-order .resume button:hover{
    background-color: black;
    color: #91d161;
transition:all .5s ease-in-out;
}

