.modal-background {
    background-color: rgba(0,0,0, 0.5);
    position:fixed;
    top: 0;
    left: 0;
    padding: 40px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* visibility: hidden; */


}
.container-modal {
    width: 60%;
    min-height: 100px;
    background-color: #fff;
    position: relative;
    left: -30px;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    padding: 20px;
    /* visibility: hidden; */
}